/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.b-content {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
}

.b-search-show {
    display: block;
}
.b-search-hide {
    display: none;
}

*,
.inter {
    font-family: "Inter", "Noto Sans SC", sans-serif !important;
}

html {
    overflow-y: auto !important;
    overflow-x: auto !important;
}